/* === CSS imports === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import './services.css';
@import './contact.css';
@import './central.css';
@import './header.css';
@import './presentation.css';
@import './request.css';
@import './feedback.css';
@import './eletromarc.css';

/* === Variables === */
:root {
    --color1: rgb(255, 247, 0);
    --color2: rgb(48, 112, 184);
    --color3: rgb(183, 230, 238);
}

/* === CSS reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(235, 235, 76);
}

/* === Scrollbar CSS === */
/* Firefox: */
* {
    scrollbar-width: auto;
    scrollbar-color: #fffff000 #1a0e6b;
}

/* Chrome, Edge, e Safari: */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #fffff000;
}

*::-webkit-scrollbar-thumb {
    background-color: #140e6b;
}

/* === Classes === */
.text {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
}

.color1 {
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 5px;
}

.color2 {
    background-color: var(--color2);
    color: white;
    border-radius: 5px;
}

.color3 {
    background-color: var(--color3);
    border-radius: 5px;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

/* Ids */


/* === Fonts === */
.thin {
    font-weight: 100;
}

.light {
    font-weight: 100;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

/* === formatação === */

.list-item {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.devs {
    background: black;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 5;
    height: 250px;
    width: 250px;
    font-family: 'Verdana';
    font-size: 0.875em;
    color: transparent;
}

/* === Tags === */
article,
header,
footer,
main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    border: none;
    padding: 8px;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
} 

#central-text{
    margin:20px;
    font-size:1.8rem;
}

#central-text b {
    font-size:1.8rem;
}

#whatsapp-link {
    background-color:rgb(98, 231, 21);
    height:40px;
    width:70%;
    font-size:1.5rem;
    border-radius:16px;
    padding-top:5px;
    margin-bottom:15px;
}
#whatsapp-link:hover {
    transform:scale(110%);
}

#whatsapp-link i{
    font-size:1.8rem;
    margin-right:8px;

}

.networks{
    width:70%;
    display:flex;
    justify-content:space-around
}

.icon{
    font-size:3.2rem;
    color:black;
}

#presentation-container{
    width:100%;
    margin:10px 20px;
    padding:10px;
}

#presentation-button{
    margin:10px auto;
    font-size:2rem;
}
#presentation-button:hover{
    transform:scale(110%);
}

.service{
    margin-left:10px;
}

#contact{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--color2);
    font-weight:bold;
    height:250px;
    padding-top:10px;
}

.contact-title{
    margin-bottom:15px;
}

#contact .networks{
    margin-left:50px;
}

#contact a{
    color:var(--color1);
}