.service-image{
    max-width: 70%;
    border-image: none;
    border-radius: 2%;
    width: 90%;
    height: 90%;
}

.service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


button{
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(76, 86, 238);
}

h2{
    font-size: 22px;
}

p{
 font-size: 17px;
}

#request{
 border-bottom: 5px;
 border-radius: 5px;
 font-size: 22px;
}

.tipe_service{
    height: 12px;
    width: 12px;
}

